# Lists
### In python we have build-in dynamic array(called list in python), which means it can grow or shrink automatically, we can add duplicate values in list
### Runtime complexities in worst case
### lookup using index - O(1)
### lookup using value - O(n)
### insert a value - O(n)
### delete a value - O(n)

In [3]:
# Finding index of a value in list
values = [1,2,3,4,5]
print(values.index(5))

4

In [2]:
print(values.index(100)) # which will not return -1 instead return valueerror.

ValueError: 100 is not in list

In [4]:
# appending values to the end of the list
values.append(5)

In [5]:
values

[1, 2, 3, 4, 5, 5]

In [8]:
# inserting values at a specific positon in list
values.insert(0,22) # first argument index and second argument value

In [9]:
values

[22, 1, 2, 3, 4, 5, 5, 0]

In [10]:
values.pop() # delete value from the end position, we have also pass a index as argument to delete the value

0

In [11]:
values

[22, 1, 2, 3, 4, 5, 5]

In [12]:
values.append(22,33,22) # only one value can be added using append method

TypeError: append() takes exactly one argument (3 given)

In [15]:
# use extend to add more than one value, but it adds values from the end position
values.extend([22,33,44]) # pass argument as list ( values needs to be added)

In [16]:
values

[22, 1, 2, 3, 4, 5, 5, 22, 33, 44]

In [17]:
# reverse array
values.reverse()

In [18]:
values

[44, 33, 22, 5, 5, 4, 3, 2, 1, 22]

In [19]:
# using reversed, this method returns a reverse iterator which can be converted to list using list()
values = list(reversed(values))

In [20]:
values

[22, 1, 2, 3, 4, 5, 5, 22, 33, 44]

In [21]:
# removing values from the list using remove method, the argument is the value needs to be removed. it will remove the first occurence of that value
values.remove(22)

In [22]:
values

[1, 2, 3, 4, 5, 5, 22, 33, 44]

#### slicing of list

In [23]:
values

[1, 2, 3, 4, 5, 5, 22, 33, 44]

In [24]:
values[-2]

33

In [25]:
values[2:7]

[3, 4, 5, 5, 22]

In [26]:
values[2:7:2] # start,end,step

[3, 5, 22]

In [27]:
values[::-1] # print all list in reverse order

[44, 33, 22, 5, 5, 4, 3, 2, 1]

#### List comprehension

In [30]:
## syntax - newList = [ expression(element) for element in oldList if condition ]

In [32]:
new_values = [x*2 for x in values if x % 2 == 0] # gets the even numbers and multiply it with 2 in the new_values list

In [33]:
new_values

[4, 8, 44, 88]